{% extends "header.html" %}
{% block content %}
<a href="http://localhost:5005/garden">Go to garden</a>
<div style="height:100%">
    <div style="float: left;width:15%;height:92vh;border-right: 1px solid grey;" id="users">
        {% for user in users %}
            <div id="{{user.id}}" style="margin-top:10px; border: 2px solid #dedede;background-color: #ddd;border-radius: 5px;border-color: #ccc;display:grid;grid-gap:2px; grid-template-areas:'text image';grid-template-columns:80% 20%;" onclick="userOnClick(this.id)">
                <p style="grid-area:text; text-align: center;">{{user.username}}</p>
                <img src="../static/img/userDumy.png" style="grid-area:image" />
            </div>
        {% endfor %}
    </div>
    <div style="width:100%; padding: 20px; overflow-y: scroll; float:right;width:80%;height:85vh">
        <div id="messages"></div>
        <div style="padding-top: 20px;position: fixed;bottom:3%;width:100%;">
            <form onsubmit="return sendMessage()" style="">
                <input id="message" type="text" style="width: 65%;">
                <button style="width: 10%">Send</button>
            </form>
        </div>
    </div>
</div>
    <script>
    var userID = {{userID}};
    console.log("userID: " + userID);
    var ws;
    var chatID;

    function sendMessage() {
        var txtMessage = document.getElementById("message");
        var message = txtMessage.value;
        var today = new Date();
        formatted_date = today.getFullYear() + "-" + (today.getMonth() + 1) + "-" + today.getDate() + " " + today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds() 
        var payload = {
            "message": message,
            "userID": userID,
            "time": formatted_date,
            "chatID":chatID
        }
        ws.send(JSON.stringify(payload));
        txtMessage.value = "";

        var xmlhttp = new XMLHttpRequest();   // new HttpRequest instance 
        var theUrl = "http://192.168.99.100:30506/chatHistory";
        xmlhttp.open("POST", theUrl);
        xmlhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xmlhttp.send(JSON.stringify(payload));

        return false;
    }

    function userOnClick(id){
        if(typeof ws != "undefined"){
            ws.close();
        }
        console.log("clicked on: " + id);
        document.getElementById("messages").innerHTML="";

        var request = new XMLHttpRequest()

        request.open('GET', 'http://192.168.99.100:30506/chat/'+userID+'/'+id, true)
        request.onload = function() {
          // Begin accessing JSON data here
          var data = JSON.parse(this.response);
          chatID=data.id;
          messages = data.messages;
          if(messages!=undefined){
              for(var i = 0; i < messages.length; i++) {
                var obj = messages[i];
                console.log("messages obj");
                console.log(obj)
                var messageBox = document.createElement("div");
                var text = document.createElement("p");
                text.innerHTML=obj.message;
                var time = document.createElement("p");
                time.innerHTML = obj.time;

                if(userID==obj.userID){
                    messageBox.style="margin-top:10px;  width:80%;float:right;border: 2px solid #dedede;background-color: #ddd;border-radius: 5px;border-color: #ccc;display:grid;grid-gap:2px; grid-template-areas:'text''time';";
                    text.style="grid-area:text; text-align: right; padding-right:10px;padding-top:5px;";
                    time.style="color: #aaa;grid-area:time;text-align:right;padding-right:10px;";
                } else {
                    messageBox.style="margin-top:10px; width:80%;float:left;border: 2px solid #dedede;background-color: #f1f1f1;border-radius: 5px;display:grid;grid-gap:2px; grid-template-areas:'text''time';";
                    text.style="grid-area:text;text-align: left;padding-left:10px;padding-top:5px;";
                    time.style="color: #999;grid-area:time;text-align: left;padding-left:10px;";
                }

                messageBox.appendChild(text);
                messageBox.appendChild(time);

                document.getElementById("messages").appendChild(messageBox);
              }
          }
          console.log("messages:");
          console.log(messages);
          if (request.status >= 200 && request.status < 400) {
            ws = new WebSocket("ws://192.168.99.100:30511/websocket/"+data.id);

            ws.onmessage = function(evt) {
                var messageDict = JSON.parse(evt.data);
                console.log(messageDict);
                var messageBox = document.createElement("div");
                var text = document.createElement("p");
                text.innerHTML=messageDict.message;
                var time = document.createElement("p");
                time.innerHTML = messageDict.time;

                if(userID==messageDict.userID){
                    messageBox.style="margin-top:10px;  width:80%;float:right;border: 2px solid #dedede;background-color: #ddd;border-radius: 5px;border-color: #ccc;display:grid;grid-gap:2px; grid-template-areas:'text''time';";
                    text.style="grid-area:text; text-align: right; padding-right:10px;padding-top:5px;";
                    time.style="color: #aaa;grid-area:time;text-align:right;padding-right:10px;";
                } else {
                    messageBox.style="margin-top:10px; width:80%;float:left;border: 2px solid #dedede;background-color: #f1f1f1;border-radius: 5px;display:grid;grid-gap:2px; grid-template-areas:'text''time';";
                    text.style="grid-area:text;text-align: left;padding-left:10px;padding-top:5px;";
                    time.style="color: #999;grid-area:time;text-align: left;padding-left:10px;";
                }

                messageBox.appendChild(text);
                messageBox.appendChild(time);

                document.getElementById("messages").appendChild(messageBox);
            };
          } else {
            console.log('error');
          }
        }

        request.send()
    }
    </script>

{% endblock %}