{% extends "header.html" %}

{% block content %}

    <script>
        // Get the modal
        
        window.onload=function(){
          ws = new WebSocket("ws://192.168.99.100:30512/notifications/{{userID}}");
        
          ws.onopen = function(){
            console.log("We connected to the websocket");
          }

          ws.onmessage = function(evt) {
              console.log("We received a message!");
              console.log(evt.data);
              document.getElementById("modalText").innerHTML = evt.data;
              document.getElementById("myModal").style.display="block";
          };
          // Get the modal
            var modal = document.getElementById("myModal");

            // Get the <span> element that closes the modal
            var span = document.getElementsByClassName("close")[0];

            // When the user clicks on <span> (x), close the modal
            span.onclick = function() {
              modal.style.display = "none";
            }

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }

            // If not an admin, hide the link.
            if ({{ isAdmin }} == false)
            {
              adminLink = document.getElementById("adminLink")
              adminLink.style.display = "none";
              advertisementLink = document.getElementById("advertisementLink")
              advertisementLink.style.display = "none";
            }
        } 
      </script>

      <style>
            /* The Modal (background) */
            .modal {
              display: none; /* Hidden by default */
              position: fixed; /* Stay in place */
              z-index: 1; /* Sit on top */
              left: 0;
              top: 0;
              width: 100%; /* Full width */
              height: 100%; /* Full height */
              overflow: auto; /* Enable scroll if needed */
              background-color: rgb(0,0,0); /* Fallback color */
              background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }

            /* Modal Content/Box */
            .modal-content {
              background-color: #fefefe;
              margin: 15% auto; /* 15% from the top and centered */
              padding: 20px;
              border: 1px solid #888;
              width: 80%; /* Could be more or less, depending on screen size */
            }

            /* The Close Button */
            .close {
              color: #aaa;
              float: right;
              font-size: 28px;
              font-weight: bold;
            }

            .close:hover,
            .close:focus {
              color: black;
              text-decoration: none;
              cursor: pointer;
            }
      </style>
    



   <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <span class="close">&times;</span>
        <p id="modalText">Some text in the Modal..</p>
      </div>

    </div>
 <div style="background:white">
  <h1>Your newsfeed</h1>
    <div class="row">
        <div class="column left">
            {% for post in posts %}
                <p>
                    {{ post.user }} says: <b>{{ post.postText }}</b>
                    <img src="data:image/png;base64,{{post.image}}" alt="Post" height="250" width="250" />
                    {% if comments %}
                        {% for comment in comments %}
                        <p>
                            {% if comment.postID == post.id %}
                                {{ comment.user }} commented: <i>{{ comment.commentText }}</i>
                            {% endif %}
                        </p>
                        {% endfor %}
                    {% else %}
                        <i>No comments on this post.</i>
                    {% endif %} 

                    <form action="http://192.168.99.100:30502/comment" method="POST">
                        <input type="hidden" name="postID" value={{ post.id }}>
                        {{ commentForm.hidden_tag() }}
                        <p>
                            {{ commentForm.commentText.label }}<br>
                            {{ commentForm.commentText(size=144) }}<br>
                          <!--   {% for error in commentForm.commentText.errors %}
                                <span style="color: red;">[{{ error }}]</span>
                            {% endfor %} -->
                        </p>
                        <p>{{ commentForm.submit() }}</p>
                    </form>
                    <hr>
                </p>
            {% endfor %}
        </div>

        <div class="column right">
            {% if advertisements %}
                {% for advertisement in advertisements %}
                    <p>
                        {{advertisement.text}} For more check: <a href={{advertisement.source_url}}>Potatoes</a>
                    </p>

                    <img src="data:image/png;base64,{{advertisement.img}}" alt="Potatoes" height="50" width="50" />
            {% endfor %}
            {% else %}
                Place your advertisements here.
            {% endif %}
        </div>
    </div> 
  </div>
{% endblock %}