* {
	box-sizing: border-box;
}

/* Create two unequal columns that float next to each other */
.column {
	float: left;
	padding: 10px;
}

.left {
	width: 50%;
}

.middle {
	width: 25%;
}

.right {
	height: 25%;
	background-color: #dcdcdc
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}