{% extends "header.html" %}
{% block content %}

<h1>Admin Page</h1>
<div>
    <h3>All Users</h3>
    {% for user in users %}
        <form action="{{ url_for('deleteUser') }}" method="POST">
            <input type="hidden" name="userID" value={{ user.id }}>
            {{ deleteForm.hidden_tag() }}
            {{ user.username }}
            {{ deleteForm.delete() }}
        </form>
    {% endfor %}
    <hr>
</div>
<div>
    <h3>All Comments</h3>
    {% for comment in comments %}
        <form action="{{ url_for('deleteComment') }}" method="POST">
            <input type="hidden" name="commentID" value={{ comment.id }} >
            {{ deleteForm.hidden_tag() }}
            {{ comment.commentText  }}
            {{ deleteForm.delete() }}
        </form>
    {% endfor %}
    <hr>
</div>
<div>
    <h3>All Posts</h3>
    {% for post in posts %}
        <form action="{{ url_for('deletePost') }}" method="POST">
            <input type="hidden" name="postID" value={{ post.id }} >
            {{ deleteForm.hidden_tag() }}
            {{ post.postText }}
            {{ deleteForm.delete() }}
        </form>
    {% endfor %}
    <hr>
</div>
<div>
    <h3>All Advertisements</h3>
    {% for advertisement in advertisements %}
        <form action="{{ url_for('deleteAdvertisement') }}" method="POST">
            <input type="hidden" name="advertisingID" value={{ advertisement.id }} >
            {{ deleteForm.hidden_tag() }}
            {{ advertisement.text }}
            {{ deleteForm.delete() }}
        </form>
    {% endfor %}
    <hr>
</div>
{% endblock %}

