{% extends "base.html" %}

{% block content %}
    <h1>Google API Example</h1>
    <div>
    	<div id="locationControls">
	        <input type="text" id="query" placeholder="Search for something..." value="pulderbos">
	        <button id="searchMap">Search Map</button>
	        <button id="searchPhoto">Search Photo</button>
	        <form action="/sendRequestOthers" method="post" enctype="multipart/form-data">
	            {{ form.hidden_tag() }}
	            <p>
	                {{ form.submit() }}
	            </p>
	        </form>
    	</div>
        <div id="googleResults"></div>
    </div>
{% endblock %}