{% extends "header.html" %}
{% block content %}

<h1>Admin Page</h1>
<div>
    {% for user in users %}
    <form action="{{ url_for(deleteUser) }}">
       {{ user.username }}
        <input type="submit" text="Delete">
        <input type="hidden" name="userID" value = {{user.id}} >
    </form>
    {% endfor %}
</div>
<div>
    {% for comment in comments %}
    <form action="{{ url_for(deleteComment) }}">
       {{ comment.commentText  }}
        <input type="submit" text="Delete">
        <input type="hidden" name="commentID" value = {{comment.id}} >
    </form>
    {% endfor %}
</div>
<div>
    {% for post in posts %}
    <form action="{{ url_for(deleteUser) }}">
       {{ post.postText }}
        <input type="submit" text="Delete">
        <input type="hidden" name="postID" value = {{post.id}} >
    </form>
    {% endfor %}
</div>
<div>
    {% for advertisement in advertisements %}
    <form action="{{ url_for(deleteUser) }}">
       {{ advertisement.text }}
        <input type="submit" text="Delete">
        <input type="hidden" name="advertisingID" value = {{advertisement.id}} >
    </form>
    {% endfor %}
</div>
{% endblock %}

