{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    
<div class="login-page">
  <div class="form">

<form  class="login-form" action="" method="post">
        {{ registerForm.hidden_tag() }}
        <p>
            {{ registerForm.username.label }}<br>
            {{ registerForm.username(size=32) }}<br>
            {% for error in registerForm.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ registerForm.email.label }}<br>
            {{ registerForm.email(size=64) }}<br>
            {% for error in registerForm.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ registerForm.location.label }}<br>
            {{ registerForm.location(size=64) }}<br>
            {% for error in registerForm.location.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ registerForm.password.label }}<br>
            {{ registerForm.password(size=32) }}<br>
            {% for error in registerForm.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ registerForm.password2.label }}<br>
            {{ registerForm.password2(size=32) }}<br>
            {% for error in registerForm.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ registerForm.admin() }} {{ registerForm.admin.label }}
        </p>
        <p>{{ registerForm.submit() }}</p>
        <p class="message">Already registered? <a href="{{ url_for('login') }}">Sign In</a></p>
    </form>
  </div>
</div>



{% endblock %}