<html>
    <head>
      {% if title %}
      <title>{{ title }} - Feesbook</title>
      {% else %}
      <title>Welcome to Feesbook</title>
      {% endif %}
    </head>
    <body>
        <div>
          Feesbook:
          <a href="{{ url_for('posts') }}">All Posts</a>
          <a href="{{ url_for('makePost') }}">Post</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>