{% extends "base.html" %}

{% block content %}
    <h1>Hi!</h1>
    {% for post in posts %}
    	<div>
    		<p>
    			{{ post.user }} says: <b>{{ post.postText }}</b>
                <form action="/makeComment" method="POST">
                    {{ postForm.hidden_tag() }}
                    <input type="hidden" name="postID" value={{ post.id }}>
                    <p>
                        {{ postForm.comment() }}
                    </p>
                </form>
                {% if comments %}
        			{% for comment in comments %}
        			<p>
                        {% if comment.postID == post.id %}
        				    {{ comment.user }} commented: <i>{{ comment.commentText }}</i>
                        {% endif %}
        			</p>
                    {% endfor %}
                {% else %}
                    <i>No comments on this post.</i>
                {% endif %} 
    		</p>
    	</div>
    {% endfor %}
{% endblock %}