{% extends "base.html" %}

{% block content %}
    <h1>Create Post</h1>

    <div class="modal" id="postModal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <form action="" method="post" novalidate>
                {{ postFormAfterCheck.hidden_tag() }}
                <p>
                    We've found a bad word in your post! We recommend you not to post this. Would you want your mother to read this? <br>

                    {{ postFormAfterCheck.submitAfterCheck()  }}
                    {{ postFormAfterCheck.discardAfterCheck() }}
                </p>
            </form>
        </div>
    </div>

    <script>
        var modal = document.getElementById('postModal');
        modal.style.display = '{{ display }}';

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
          modal.style.display = "none"
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        } 


        if ({{submitted}}){
            console.log("submitted was true");
            var ws = new WebSocket("ws://127.0.0.1:8889/notifications/sending");
            ws.onopen = function(){
                ws.send("{{postInfo}}");
                ws.close()
                window.location.replace("http://localhost:5003/newsfeed");
            }
        } else {
            console.log("submitted was false")
        }
    </script>


    <form action="" method="post" novalidate enctype = "multipart/form-data">
        {{ postForm.hidden_tag() }}
        <p>
            {{ postForm.postText.label }}<br>
            {{ postForm.postText(size=144) }}<br>
            {{postForm.image}} <br>
            {% for error in postForm.postText.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ postForm.submit() }}</p>
    </form>
{% endblock %}