<!DOCTYPE html>
{% extends "header.html" %}
{% block content %}

<div class="card">
    <h5 class="card-header">
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link " href="{{  url_for('garden') }}">My Garden</a>
            <a class="flex-sm-fill text-sm-center nav-link " href="{{  url_for('vegetable') }}">Vegetables</a>
            <a class="flex-sm-fill text-sm-center nav-link " href="{{  url_for('fruits') }}">Fruits</a>
            <a class="flex-sm-fill text-sm-center nav-link " href="{{  url_for('herbs') }}">Herbs</a>
            <a class="flex-sm-fill text-sm-center nav-link bg-dark" href="{{  url_for('AddGrocery') }}">AddGrocery</a>
        </nav>
    </h5>
    <div class="card-body">

        <div class="content-section">
            <form method="POST" action="">
                {{ form.hidden_tag()}}
                {{ form.csrf_token()}}
                <fieldset class="form-group">
                    <div class="p-3 mb-2 bg-secondary text-white rounded-pill">Grocery</div>
                    <dir class="form-group">
                        {{ form.vegetable.label(class="form-control-label")}}
                        {% if form.vegetable.errors %}
                        {{ form.vegetable(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.vegetable.errors %}
                            <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.vegetable(class="form-control form-control-lg")}}
                        {% endif %}
                    </dir>
                    <dir class="form-group">
                        {{ form.fruits.label(class="form-control-label")}}
                        {% if form.fruits.errors %}
                        {{ form.fruits(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.fruits.errors %}
                            <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.fruits(class="form-control form-control-lg")}}
                        {% endif %}
                    </dir>
                    <dir class="form-group">
                        {{ form.herbs.label(class="form-control-label")}}
                        {% if form.herbs.errors %}
                        {{ form.herbs(class="form-control form-control-lg is-invalid")}}
                        <div class="invalid-feedback">
                            {% for error in form.herbs.errors %}
                            <span> {{ error }} </span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.herbs(class="form-control form-control-lg")}}
                        {% endif %}
                    </dir>
                </fieldset>
                <div class="form-group">
                   {{ form.add() }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}