{% extends "header.html" %}
{% block content %}

<div class="card text-center">
    <h5 class="card-header">
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link bg-dark" href="{{  url_for('garden', user='') }}">My
                Garden</a>
            <a class="flex-sm-fill text-sm-center nav-link " href="{{  url_for('vegetable') }}">Vegetables</a>
            <a class="flex-sm-fill text-sm-center nav-link " href="{{  url_for('fruits') }}">Fruits</a>
            <a class="flex-sm-fill text-sm-center nav-link " href="{{  url_for('herbs') }}">Herbs</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="{{  url_for('AddGrocery') }}">AddGrocery</a>
        </nav>
    </h5>
    <div class="card-body">
        <div class="p-3 mb-2 bg-secondary text-white rounded-pill">Vegetables</div>
        <div class="row">
            {% for item in gardenItems %}
            <div class="col-sm-auto">
                <div class="card border-0" style="width: 18rem;">
                    <img src="{{  url_for('static', filename='img/item.png') }}"  class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <a href="#" class="btn btn-primary bg-secondary ">{{ item.vegetable }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="dropdown-divider"></div>
         <div class="p-3 mb-2 bg-secondary text-white rounded-pill">Fruits</div>
        <div class="row">
            {% for item in gardenItems %}
            <div class="col-sm-auto">
                <div class="card border-0" style="width: 18rem;">
                   <!-- <img src=http://localhost:8080/photo/{{item.Img_id}} class="card-img-top" alt="...">-->
                    <img src="{{  url_for('static', filename='img/item.png') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <a href="#" class="btn btn-primary bg-secondary">{{ item.fruits }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="dropdown-divider"></div>
         <div class="p-3 mb-2 bg-secondary text-white rounded-pill">Herbs</div>
        <div class="row">
            {% for item in gardenItems %}
            <div class="col-sm-auto">
                <div class="card border-0" style="width: 18rem;">
                    <img src="{{  url_for('static', filename='img/item.png') }}"  class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <a href="#" class="btn btn-primary bg-secondary">{{ item.herbs }}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}

