{% extends "header.html" %}
{% block content %}

<div class="card">
    <h5 class="card-header">Vegetables</h5>
    <div class="card-body">

        <div class="row">
            {% for item in herbCount %}
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src=http://localhost:8080/photo/{{item.Img_id}} class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.herbs}}</h5>
                        <a href="#" class="btn btn-primary">View</a>
                    </div>
                    <button type="button" class="btn btn-primary">
                        Count <span class="badge badge-light">{{item[2]}}</span>
                    </button>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}