{% extends "header.html" %}
{% block content %}

<div class="card">
    <h5 class="card-header">
        <nav class="nav nav-pills flex-column flex-sm-row">
            <a class="flex-sm-fill text-sm-center nav-link " href="{{  url_for('garden') }}">My Garden</a>
            <a class="flex-sm-fill text-sm-center nav-link " href="{{  url_for('vegetable') }}">Vegetables</a>
            <a class="flex-sm-fill text-sm-center nav-link " href="{{  url_for('fruits') }}">Fruits</a>
            <a class="flex-sm-fill text-sm-center nav-link bg-dark" href="{{  url_for('herbs') }}">Herbs</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="{{  url_for('AddGrocery') }}">AddGrocery</a>
        </nav>
    </h5>
    <div class="card-body">

        <div class="row">
            {% for item in herbCount %}
            <div class="col-sm-auto">
                <div class="card border-0" style="width: 18rem;">
                    <div class="d-flex bg-secondary ">
                        <div class="p-2 flex-grow-1 text-white">
                            {{ item.herbs}}
                        </div>
                        <div class="p-2 bd-highlight"><span class="badge badge-light">{{item[2]}}</span></div>
                    </div>

                    <div class="card-body">
                        <img src="{{  url_for('static', filename='img/item.png') }}" class="card-img-top" alt="...">
                    </div>

                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}