{% extends "header.html" %}
{% block content %}

<div class="card">
    <h5 class="card-header">Vegetables</h5>
    <div class="card-body">

        <div class="row">
            {% for hmm in vegetableItems %}
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="{{  url_for('static', filename='img/logo.png') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ hmm.item_name }}</h5>
                        <p class="card-text">{{ hmm.item_type }}</p>
                        <a href="#" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}