{% extends "header.html" %}
{% block content %}

<div class="card">
    <h5 class="card-header">Vegetables</h5>
    <div class="card-body">

        <div class="row">
            {% for item in vegItems %}
            <div class="col-sm">
                <div class="card" style="width: 18rem;">
                    <img src="img/logo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ item}}</h5>
                        <a href="#" class="btn btn-primary">View</a>
                    </div>
                </div>
            </div>

            {% endfor %}

        </div>
    </div>
</div>

{% endblock %}